/*универс селектор для всех елементов*/
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.eot) format("embedded-opentype"),
        url(../fonts/OpenSans-Regular.ttf) format("truetype"),
        url(../fonts/OpenSans-Regular.woff) format("woff");
}

@font-face {
    font-family: "GothamPro-Bold";
    src: url(../fonts/GothamPro-Bold.eot) format("embedded-opentype"),
        url(../fonts/GothamPro-Bold.ttf) format("truetype"),
        url(../fonts/GothamPro-Bold.woff) format("woff");
}

@font-face {
    font-family: "Coustard";
    src: url(../fonts/Coustard-Regular.ttf) format("truetype"),
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "OpenSans";
}

/*обнуление свойств по умолчанию*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


.example {
    background-color: hotpink;
    color: white;
    font-size: large;
}

/*задаем стили для мобильной версии*/
.container {
    width: 320px;
    margin: 0 auto;
}

/*ХЭДЭР*/
.header_wrapper {
    position: fixed;
    width: 100%;
    background: white;
    top: 0px;
    z-index: 100;
}

.header_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding: 38px 0 38px 55px;
}

.up_header {
    top: 1px;
    left: 1px;
    padding-top: 650px;
    position: fixed;
}

.up {
    margin-left: 500px;
    top: 300px;
    background-color: black;
    border-radius: 50%;
    padding: 15px;
    color: white;
}

.up:hover {
    color: navajowhite;
    font-size: large;
}

.logo {
    text-transform: capitalize;
    font-size: 16px;
    position: relative;
}

.logo::before {
    content: "";
    position: absolute;
    background: url(../images/icon/logo.png);
    background-color: yellow;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    left: -50px;
    top: -12px;
}

.logo span {
    text-transform: uppercase;
    font-weight: bold;
}

.menu {
    font-weight: bold;
    overflow: hidden;
}

.menu li:nth-child(2) {
    position: relative;
    padding-left: 20px;
}

.menu li:nth-child(2)::before {
    position: absolute;
    content: "";
    background: url(../images/icon/viber.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
}

.nav_list {
    /* padding-bottom: 28px; */
}

.menu li a {
    color: red;
}

.menu li a:hover {
    color: blue;
    font-size: large;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, );
    border-radius: 15px;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.header .menu-btn {
    display: none;
}

.header .menu-icon {
    display: flex;
    position: relative;
    user-select: none;
    cursor: grab;
}

.header .menu-icon .navicon {
    display: block;
    background: yellow;
    width: 25px;
    height: 3px;
    position: relative;
    transition: background 0.2s ease-out;
}

.header .menu-icon .navicon::before,
.header .menu-icon .navicon::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
}

.header .menu-icon .navicon::before {
    background: green;
    top: 10px;
}

.header .menu-icon .navicon::after {
    background: red;
    top: -10px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon::before {
    transform: rotate(-45deg);
    top: 0;

}

.header .menu-btn:checked~.menu-icon .navicon::after {
    transform: rotate(45deg);
    top: 0;
}

.header .menu-btn:checked~.menu {
    max-height: 100%;
}

/*СЕКЦИЯ 1*/
.s1 {
    padding: 225px 20px 0;
    background: #535353 url("../images/s1_background.png");
    background-size: cover;
    background-blend-mode: soft-light;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    color: white;
}

.s1_title {
    font-size: 35px;
    font-family: "GothamPro-Bold";
    padding-right: 148px;
}

.s1_title:hover {
    padding-left: 65px;
}

.s1_list-item {
    font-size: 14px;
    padding-left: 24px;
    position: relative;
    margin-bottom: 10px;
}

.s1_list-item:hover {
    text-transform: uppercase;
    font-family: "GothamPro-Bold";
}

.s1_list-item span {
    color: #ffe100;
}

.s1_list {
    padding: 24px 20px 80px 0;
}

.s1_list-item::before {
    position: absolute;
    content: "";
    background: url(../images/icon/star.png);
    width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
}

.s1_bottom-arrow {
    transform: rotate(90deg);
    color: #ffe100;
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin: auto;
    padding-right: 54px;
}

/*Sekt2*/

.s2 {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.s2_title {
    display: block;
    text-align: center;
    font-family: "GothamPro-Bold";
    font-size: 26px;
    padding: 64px 25px 0;
    margin-bottom: 74px;
}

.s2_list {
    padding-bottom: 12px;
}

.s2_list-item {
    width: 170px;
    height: 170px;
    border: 6px double yellow;
    margin-bottom: 60px;
    position: relative;
    color: white;
}

.s2_list-item:hover {
    color: black;
}



.s2_list-item::before {
    content: "";
    position: absolute;
    width: 86px;
    height: 86px;
    background-color: yellow;
    border-radius: 50%;
    top: -29%;
    left: 23%;
}

.s2_list-item:nth-child(1)::before {
    background: yellow url(../images/icon/icon1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.s2_list-item:nth-child(2)::before {
    background: yellow url(../images/icon/icon2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.s2_list-item:nth-child(3)::before {
    background: yellow url(../images/icon/icon3.png);
    background-repeat: no-repeat;
    background-position: center;
}

.s2_list-item:nth-child(4)::before {
    background: yellow url(../images/icon/icon\ \(3\).png);
    background-repeat: no-repeat;
    background-position: center;
}

.s2_list-item p {
    display: block;
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.s2_list-item p:first-child {
    margin-top: 40px;
}

/*Sekt3*/

.s3 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: auto;
    padding: 100px 0;
    background: url(../images/s3FON.jpg);
    position: relative;
}

.ant-carousel-hider {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 320px;
    overflow: hidden;
    margin: 0 20px;
    position: relative;
}

.ant-carousel-list {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: auto;
}

.ant-carousel-element {
    margin-right: 20px;
}


.ant-carousel-element img {
    width: 280px;
    height: 230px;
    border: 15px solid #f1f1f1;
}

.ant-carousel-element img:hover {
    border: 15px solid brown;
}

.ant-carousel-element p {
    font-size: 16px;
    font-weight: bold;
    padding-left: 50px;
    margin-top: 16px;
    position: relative;
}

.ant-carousel-element p::before {
    position: absolute;
    content: "";
    width: 38px;
    border: 1px solid #ffe100;
    background-color: #ffe100;
    top: 10px;
    left: 0;
}

div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
    width: 24px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 101;
    top: 36%;
    padding: 15px;
}

div.ant-carousel-arrow-left:hover,
div.ant-carousel-arrow-right:hover {
    opacity: 1;
}

div.ant-carousel-arrow-left {
    left: 0px;
    display: block;
    background: #53535383 url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
    background-position: center;
}

div.ant-carousel-arrow-right {
    right: 0px;
    display: block;
    background: #53535383 url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
    background-position: center;
}

div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 38px;
    z-index: 30;
    text-align: center;
}

/* точки слайдера */
span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #ff0000;
    border-radius: 5px;
    cursor: pointer;
}

/*Sekt4*/
.s4 {
    padding-top: 100px;
}

.s4_title {
    position: relative;
    padding-top: 116px 20px 0;
    text-align: center;
}

.s4_title p {
    font-family: "GothamPro-Bold";
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 30px;
}

.s4_title::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 34px;
    background: url(../images/icon/s4_mob-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    top: -31%;
    left: 43%;
}

.s4_list {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 38px 20px 68px 75px;
    position: relative;
}

.s4_list::before {
    position: absolute;
    content: "";
    height: 60%;
    border: 2px solid #ffe100;
    top: 15%;
    left: 12%;
}

.s4_list-item {
    line-height: 30px;
    color: #6c6e79;
}

.s4_list-item:hover {
    border: 2px solid slategrey;
}


/*Sekt5*/

.s5 {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background-color: #303030;
    padding-top: 60px;
}

.s5_title {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    padding-left: 54px;
    padding-right: 75px;
    color: white;
}

.s5_list {
    padding-bottom: 25px;
    padding-top: 40px;
    position: relative;
}

.s5_list:not(:first-child)::before {
    position: absolute;
    content: "";
    width: 32px;
    /*height: 32px;*/
    border: 1px solid #ffe100;
    background-color: #ffe100;
    top: 15px;
    left: 54px;
}


.s5_list-item:hover {
    color: white;
}

.s5_list-item,
.s5_list-contact {
    position: relative;
    padding-left: 95px;
    padding-right: 25px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: #acacac;
}

.s5_list-contact {
    padding-left: 54px;
}

.s5_list-contact a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.s5_list-contact p {
    font-size: 14px;
    color: #7b7b7b;
}

.s5_list-contact:last-child p {
    position: relative;
    padding-left: 30px;
}

.s5_list-contact:last-child p::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background: url(../images/icon/viber.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 4px;
    left: 0;
}

.s5_list-item::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background: url(../images/icon/check.png);
    background-position: center;
    background-repeat: no-repeat;
    top: -3px;
    left: 54px;
}


/*ФУТЭР*/
.footer_wrapper {
    background-color: black;
    width: 100%;
}

footer {

    color: grey;
    padding: 24px 0;
}

footer p {
    font-size: 12px;
    text-align: center;
}

@media (width: 768px) {

    .container {
        width: 768px;
    }

    .header-nav {
        margin: 0 40px;
        padding: 34px 0 34px 55px;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        overflow: visible;
    }

    .menu li {
        margin-right: 10px;
    }

    .menu li:nth-child(1) {
        position: relative;
    }

    .menu li:nth-child(1)::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 22px;
        background: gray;
        top: 0px;
        right: -7px;
    }

    .header .menu-icon {
        display: none;
    }

    /* sekt1 */
    .s1 {
        padding: 253px 40px 0;
    }



    .s1_title {
        font-size: 50px;
    }

    .s1_list-item {
        font-size: 20px;
    }

    .s1_list-item::before {
        top: 4px;
    }

    /* s2 */

    .s2_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-bottom: 18px;
    }

    .s2_title {
        font-size: 38px;
        padding: 80px 129px 0;
    }

    .s2_list-item {
        margin-right: 20px;
    }

    .s2_list-item:last-child {
        margin-right: 0;
    }

    /* s3 */

    .ant-carousel-hider {
        width: 768px;
        margin: 0 40px;
    }

    .ant-carousel-element img {
        width: 17px;
        height: 344px;
    }

    /* s4 */

    .s4 {
        align-items: flex-start;
    }

    .s4_title {
        padding: 84px 62px 0 156px;
        text-align: left;
    }

    .s4_title p {
        font-size: 23px;
    }

    .s4_title::before {
        width: 75px;
        height: 50px;
        background: url(../images/icon/s4_tablet-icon.png);
        top: 58%;
        left: 9%;
    }

    .s4_list {
        padding: 38px 20px 80px 350px;
    }

    .s4_list::before {
        top: 15%;
        left: 306px;
        border: 1px solid #ffe100;
    }

    .s4_list:last-child {
        display: block;
    }

    /* s5 */

    .s5 {
        flex-flow: row wrap;
        padding: 79px 0 0 129px;
    }

    .s5 div {
        width: 246px;
        margin: 0 20px 40px 0;
    }

    .s5_list:not(:first-child) {
        padding-top: 42px;
    }

    .s5_list:not(:first-child)::before {
        left: 0;
        top: 20px;
    }

    .s5_list,
    .s5_list-contact,
    .s5_list-item,
    .s5_title {
        padding: 0;
        margin: 0;
    }

    .s5_list-item {
        padding-left: 39px;
    }

    .s5_list-item::before {
        top: 0px;
        left: 0;
    }

    /* ftr */

    footer p {
        font-size: 14px;
    }

    footer {
        padding: 22px 0;
    }

}

@media(width: 1280px) {
    .container {
        width: 1280px;
    }

    /* hdr */
    .header-nav {
        margin: 0 40px;
        padding: 36px 0 36px 55px;
    }

    .header .menu-icon {
        display: none;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        overflow: visible;
    }

    .menu li:nth-child(1)::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 22px;
        background: gray;
        top: 0px;
        right: -7px;
    }

    /* s1 */

    .s1 {
        padding-top: 330px;
        padding-left: 159px;
        padding: 253px 40px 0;
    }

    .s1_title {
        font-size: 72px;
    }

    .s1_list {
        padding-bottom: 170px;
    }

    .s1_list-item {
        font-size: 24px;
    }

    .s1_list-item::before {
        top: 7px;
    }

    /* s2 */

    .s2_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    .s2_title {
        font-size: 44px;
        padding: 80px 355px 0;
    }

    .s2_list-item {
        margin-right: 20px;
    }

    .s2_list-item:last-child {
        margin-right: 0;
    }

    /* s3 */

    .ant-carousel-element {
        margin: 0 20px 0 0;
    }

    .ant-carousel-hider {
        width: 1280px;
        margin: 0 60px;
    }

    .ant-carousel-element img {
        width: 570px;
        height: 344px;
    }

    /* s4 */

    .s4 {
        align-items: flex-start;
    }

    .s4_title {
        padding: 84px 83px 0 311px;
        text-align: left;
    }

    .s4_title p {
        letter-spacing: 3.5px;
        font-size: 34px;
        line-height: 42px;
    }

    .s4_title::before {
        width: 110px;
        height: 73px;
        background: url(../images/icon/s4_ds-icon.png);
        top: 53%;
        left: 14%;
    }

    .s4_list {
        padding: 38px 20px 80px 677px;
    }

    .s4_list::before {
        top: 15%;
        left: 650px;
        border: 1px solid #ffe100;
    }

    .s4_list:last-child {
        display: block;
    }

    /* s5 */

    .s5 {
        flex-flow: row wrap;
        padding: 79px 237px 0;
        justify-content: space-between;
    }

    .s5 div {
        width: 246px;
        /* margin: 0 20px 74px 0; */
        margin-bottom: 74px;
    }

    .s5_list {
        padding: 0;
        padding-left: 1px;
    }

    .s5_title,
    .s5_list-item,
    .s5_list,
    .s5_list-contact {
        padding: 0;
        margin: 0;
    }

    .s5_list-item {
        padding: 0;
        margin: 0;
        padding-left: 39px;
    }

    .s5_list-item::before {
        top: 0px;
        left: -6px;
    }

    .s5_list:not(:first-child)::before {
        left: 0;
        top: 20px;
    }

    .s5_list:not(:first-child) {
        padding-top: 42px;
    }

    .s5 div:last-of-type {
        width: initial;
    }

    .s5 div:last-of-type ul,
    .s5_list-contact {
        display: flex;
        flex-flow: row;
    }

    .s5_list-contact p {
        margin: 0 10px;
    }

    .s5_list-contact:first-child {
        position: relative;
        padding-right: 10px;
    }

    .s5_list-contact:first-child::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 28px;
        background: gray;
        top: 0;
        right: 10px;
    }

    .s5_list-contact:nth-of-type(2) {
        padding-left: 30px;
    }

    .s5_list-contact:last-child p {
        padding: 0;
    }

    .s5_list-contact:last-child p::before {
        left: -216px;
    }

    /* ftr */


    footer {
        padding: 22px 0;
    }

    footer p {
        font-size: 14px;
    }
}